body {
	margin: 0;
}

nav {
	width: 100%;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 15px 0;
	display: inline;
}

h2 {
	width: 300px;
	font-size: 22px;
	text-align: justify;
	position: absolute;
	top: 70%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

ul {
	margin-top: 40px;
	padding-left: 0;
	position: relative;
	z-index: 1000;
}

li {
	list-style-type: none;
	margin: 0;
}

img {
	max-width: 100%;
}

p,
section a.text-center {
	text-align: center;
}

section img {
	max-width: 80%;
	width: 700px;
	margin: 0 auto 20px;
	display: block;
}

marquee {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
}

marquee h2 {
	position: static;
	color: pink;
}

.display-trigger {
	display: none;
}

.wave {
	width: 100%;
	height: auto;
}

.book {
	width: 40px;
	display: inline;
}

.container {
	width: 700px;
	margin: 0 auto;
}

.filter {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

#c {
	margin: 0 auto;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	cursor: help;
	transition: all 500;
}


@media (max-width: 600px) {
	.container {
		width: 90%;
	}

	#c {
		width: 210px;
		height: 210px;
	}

	.book {
		width: 60px;
		height: 100px;
	}

	h4 {
		width: 210px;
		font-size: 17px;
	}

}
