body {
	margin: 0;
}

nav {
	width: 100%;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 15px 0;
	display: block;
	text-align: center;
	font-size: 24px;
}

ul {
	margin: 40px auto;
	padding-left: 0;
	position: relative;
	z-index: 1000;
	text-align: center;
}

li {
	list-style-type: none;
	display: inline;
	text-align: center;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

p,
section a.text-center {
	text-align: center;
}

section img {
	max-width: 80%;
	width: 700px;
	margin: 0 auto 80px;
	display: block;
}

.logo {
	width: 100px;
	display: block;
	margin: 100px auto 40px;
}

.container {
	width: 700px;
	margin: 0 auto;
}

.filter {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}


@media (max-width: 600px) {
	.container {
		width: 90%;
	}

	#c {
		width: 210px;
		height: 210px;
	}

	.logo {
		width: 60px;
		height: 100px;
	}

	h1 {
		font-size: 20px;
	}

}
